@font-face {
  font-family: MB;
  src: url("fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: MR;
  src: url("fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: ML;
  src: url("fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
  font-family: MM;
  src: url("fonts/Montserrat-Medium.otf") format("opentype");
}

body {
  font-family: MR;
  background: #272733;
  text-align: center;
}

.form-container {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  background: white;
  padding: 10px 60px 20px 60px;
  border-radius: 0.3em;
  margin-top: 20vh;
  margin-bottom: 16vh;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 13px;
  font-family: ML;
  color: #CFCFCF;
}

input[type=submit] {
  background: #38BE99;
  border: none;
  color: white;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #22ad85;
}

input {
  font-family: MM;
  font-size: 15px;
  padding: 18px 20px;
  border: 1.5px solid #E7E7E7;
  /*border:1px solid #38BE99;*/
  width: 89%;
  border-radius: 0.3em;
  margin-bottom: 15px;
  outline: 0;
  transition: 0.3s;
}

input:focus {
  border-color: #38BE99;
}

::placeholder {
  color: #CFCFCF;
}

#loginMsg,
#signupMsg,
#userMsg,
#indexMsg {
  position: relative;
  color: white;

}

#msg {
  margin-top: -13vh;
}

#signUpLink {
  display: inline;
  text-decoration: none;
  color: #38BE99;
}
#signUpLink:hover {
  text-decoration: underline;
}
a {
  color:white;
  text-decoration: none;
}
p, #colorText {
  color:white;
}

#link {
  font-family: MM;
  font-size: 15px;
  padding: 18px 20px;
  border: 1.5px solid #E7E7E7;
  /*border:1px solid #38BE99;*/
  width: 89%;
  border-radius: 0.3em;
  margin-bottom: 15px;
  outline: 0;
  transition: 0.3s;
  background: #38BE99;
  border: none;
  color: white;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

#link:hover {
  background: #22ad85;
}